/* ==========================================================================
   Fonts & Colors
   ========================================================================== */
@gray-dark: 	#4D4D4D;
@gray-dark2: 	#727272;
@black:		 	#231F20;
@red: 			#B72F26;
@gray-light: 	#E6E6E6;
@red-dark: 		#B53127;

@white:	#FEFEFE;

.black {
	color: @black;
	border-color: @black !important;
}
.white {
	color: @white;
}
.red {
	color: @red;
	border-color: @red !important;
}
.gray {
	color: gray;	
}
.gray-light {
	color: @gray-light;
}

nav {
	.lato;
	.thin;
}
h1, h2, h3, h4, h5 {
	.oswald;
}
p span{
	.lato;
	.normal;
	.medium;
}
.wpcf7-submit {
	.btn;
	.btn-red;
	text-transform: capitalize;
}
.banner p {
	.lato;
	.thin;
	.large;
}

/* ==========================================================================
   Background Colors
   ========================================================================== */

.red-bg {
	background-color: @red;
}
.black-bg{
	background-color: @black;
}
.texture {
	background-image: url('../img/paper-white-large.jpg');
}
.texture-yellow {
	background-image: url('../img/yellow-paper.jpg') !important;
	background-size: cover;
}
/* ==========================================================================
   Nav
   ========================================================================== */
.navbar {
	margin-bottom: initial;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: @red;
    border-top: 6px solid @red;
    margin-top: -3px;
}

// hover
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: white;
    border-top: 6px solid @red;
    margin-top: -3px;
}

#menu-primary-navigation.navbar-nav > li > a {
  color: #EAEAEA;
}

.menu- a {
  padding: 8px 0px 20px 4px !important;
}
// #menu-footer > li.menu-sitemap > a a:focus {
// 	color: @red;	
// }
.wpcf7-submit input {
	.btn;
	.btn-red;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a{
	border-top: 1px solid;
}
#menu-footer > li > a {
	.bold;
}

#menu-footer > li > a:hover, 
#menu-footer > li.active.menu-half-full a:visited {
  color: black;
}
header {
	.fa-stack { font-size: 1em; }
	i { font-size: .7em; }
}

footer .navbar-header {
	padding-bottom: 0px;
}
/* ==========================================================================
   Structure
   ========================================================================== */
.title-text {
	margin-top: -128px;
	font-size: floor((@font-size-base * 5.5)); // ~32
}

.featurette-divider {
	width: 100px;
	margin-top: 0px;
	border: 0;
	border-top: 4px solid #eeeeee;
}
.hp-line {
	margin-top: 14px;
	width: initial;
}
.bottom {
	margin-top: 20px;
}
.quote-bar {  
	margin-top: 0px;
	width: 88%;
	margin-bottom: 0px;
	border-top: 2px solid #eeeeee;
}
.offerings  {
	min-height: 120px;
}
.avatar {
	border: 3px solid @red;
  	border-radius: 100%;
  	padding: 4px;
}
.firm .panel {
	margin-top: 20px;
}
.entry-content img {
	.img-responsive;
}
.showcase-padding {
	padding-right: 6px;
}
body > div.wrap.container > div > aside > ul {
	padding-left: 0px;
}
body > header > div > div.pull-right > a.white-links:hover{
  color: white;
  text-decoration: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #B72F26;
}
.offerings-img img {
	max-height: 100px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.col-lg-3 .offerings {
	max-width: 120px;
}

.team-bio {
	padding:0px 10px;
	padding-bottom: 10px;
}
.firm .fa {
  padding: 5px;
}

/* ==========================================================================
   Media Calls
   ========================================================================== */

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
	.title-text {
		font-size: 3em;
		margin-top: initial;
	}
  
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
	.title-text {
		margin-top: 99px;
	}
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
	.title-text {
		margin-top: -177px;
	}
}
