/* ==========================================================================
   Header
   ========================================================================== */
   
.navbar-default {
	background-color: transparent;
}
.navbar-header {
  padding-bottom: 20px;
}

.navbar-static-top {
	border-width: 0px 0px 0px;
}

ul.navbar-nav {
   float: right;
   padding-top: 15px;
}

.menu-margin {
  margin-left: 50px;
}

.dropdown-menu > li > a {
  padding: 5px 20px; 
}


/* ==========================================================================
   Padding
   ========================================================================== */
.pad-top {
  padding-top: 20px;
}

.pad-top-2 {
  padding-top: 40px;
}
.pad-bot {
  padding-bottom: 20px;
}
.pad-bot-2 {
  padding-bottom: 40px;
}


/* ==========================================================================
   Fonts & Colors
   ========================================================================== */
.oswald {
  font-family: 'Oswald';
}
.lato {
  font-family: 'Lato';
}

.light {
  font-weight: 100;
}
.thin {
  font-weight: 300
}
.normal {
  font-weight: 400;
}
// .semi-bold {
//   font-weight: 600;
// }
.bold {
  font-weight: 700;
}
// .extra-bold{
//   font-weight: 800;
// }


// .smaller {
//   font-size: floor((@font-size-base * .8)); // ~11px
// }
.small {
  font-size: @font-size-small; // ~12px
}
.base {
  font-size: @font-size-base;  // 14pm
}
.medium {
  font-size: floor((@font-size-base * 1.15)); // ~16px
}
.large {
  font-size: @font-size-large; // ~18px
}
.twenty-one {
  font-size: floor((@font-size-large * 1.17)); // ~21px
}
.twenty-six {
  font-size: floor((@font-size-large * 1.48)); // ~26px
}
.huge {
  font-size: floor((@font-size-large * 2.3)); // ~36
}
.sixty-six {
 font-size: floor((@font-size-large * 3.7)); // ~66
}

.uppercase {
  text-transform: uppercase;
}
/* ==========================================================================
   Layout & Rows
   ========================================================================== */

// Apply this to the enclosing row
.row-centered {
  text-align: center;
  display: table-row;
}
// Apply this to the cols within the row
.col-centered {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.full-width {
  width: 100% !important;
}

.row-middle {
  display: flex;
  align-items: center; 
}

.img-center {
  margin: 0px auto;
}


/* ==========================================================================
   Columns
   ========================================================================== */

.twoColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.threeColumns {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;

}